.links a {
    text-decoration: none;
    color: black;
}

.links img {
    aspect-ratio: 1/1;
    width: 50%;
    height: auto;
    object-fit: contain;
}

.links .row {
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 5px rgba(105, 105, 105, 0.178);
}