@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Patua+One&display=swap');

:root {
    --western-font: 'Patua One', cursive;
    --main-font: 'Montserrat', sans-serif;
}

html {
    padding: 0;
    margin: 0;
}

* {
    /* smooth scrolling */
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
}

img {
    /* image sizes */
    width: 100%;
    height: auto;
}

.darken img {
    filter: brightness(0.8);
}

body {
    margin: 0;
    padding: 0;
    
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.nav-icon {
    width: 75px;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--western-font);
    margin: auto;
    font-size: 48px;
    height: 175px;
    width: 100%;
    border-bottom: 1px #dfdfdf solid;
}

.nav-links-container {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: var(--main-font);
    border-bottom: 1px #dfdfdf solid;
}

.nav-links {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 75px;
}

.nav-links a {
    color: #6F6F6F;
    text-decoration: none;
    transition-duration: 400ms;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 75px;
    border-bottom: 3px solid white;
}

.nav-link:hover {
    border-bottom: 3px solid black;
}

.active {
    border-bottom: 3px solid black;
}

.content {
    margin: auto;
    max-width: 1000px;
    padding: 80px 0;
}

.content p {
    font-size: 24px;
    font-family: var(--main-font);
}

.content h1 {
    font-family: var(--western-font);
    text-align: center;
    padding: 80px;
    margin: 0;
}

.top-banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 580px;
    width: 100%;
    color: white;
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 580px;
    width: 100%;
    z-index: -1;
    background-image: url('../assets/imgs/top.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px);
}

.top-banner-text {
    display: none;
}

.top-banner-text h1 {
    font-size: 64px;
    font-weight: lighter;
    font-family: var(--western-font);
    margin: 0;
}

.top-banner-text h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: var(--main-font);
    margin: 0;
}

.line {
    display: none;
    border-left: 2px white solid;
    height: 100px;
    margin: 10px 15px 0px 0px;
}

.sire {
    width: 350px;
    height: 350px;
    object-fit: cover;
}


/* rows and columns */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 80px;
    justify-content: center;
}

.row:last-of-type {
    margin-bottom: 0px;
}

.col {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    align-items: center;
}

.col-3 {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave .shape-fill {
    fill: #fff;
}

.benefits {
    background-color: #FFFBED;
}

.benefit-item {
    margin-left: 25%;
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: var(--main-font);
    gap: 10px;
}

.benefit-item .icon {
    align-items: center;
    display: flex;
}

.benefits .col {
    justify-content: unset;
    align-items: unset;
}

.purchase {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.purchase-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: -1;
    background-image: url('../assets/imgs/section-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(0.7);
}

.purchase .title {
    font-size: 64px;
    font-family: var(--western-font);
    color: white;
    text-align: center;
}

.purchase .button {
    width: 50%;
    padding: 30px;
    font-size: 40px;
    margin: auto;
    text-align: center;
    font-family: var(--main-font);
    font-weight: bold;
    color: #FFCB44;
    border: #FFCB44 7px solid;
    transition-duration: 200ms;
    margin-top: 30px;
    
}


.purchase .button:hover {
    background-color: #FFCB44;
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;
}

.gallery img {
    aspect-ratio: 1/1;
    object-fit: cover;
    min-width: 300px;
}

.gallery {
    position: relative;
}

.gallery {
    background-color: #FFFBED;
}

.gallery .row {
    gap: 30px;
}

.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave2 .shape-fill {
    fill: #FFFBED;
}

.footer {
    background-color: #424242;
    color: white;
    padding: 50px;
    font-family: var(--main-font);
}

.footer h1, .footer h2 {
    font-family: var(--western-font);
    font-weight: lighter;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer ul {
    margin: 0;
    list-style: none;
    padding: 0;
   
}

.nomid {
    justify-content: unset;
}

.end {
    align-items: flex-end;
}

.start {
    align-items: flex-start;
}

.registration-hidden {
    display: none;
}

.registration {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: #FFCB44 2px solid;
    color: #FFCB44;
    width: 50%;
    font-family: var(--main-font);
    transition-duration: 200ms;
}

.registration:hover {
    cursor: pointer;
    background-color: #FFCB44;
    color: #fff;
}

.registration-img {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.863);
    padding: 1%;
}

.registration-img img {
    margin: auto;
    height: 100%;
    width: auto;
    display: block;
    max-width: 700px;
    object-fit: cover;
}

.temp-text {
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: auto;
    font-size: 64px;
    color: white;
}


@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .col, .col-3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        padding: 5%;
    }

    .benefit-item {
        margin-left: 5%;
    }

    .title {
        font-size: 32px;
    }

    .purchase a {
        display: flex;
        justify-content: center;
    }

    .purchase .title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .purchase .button {
        margin: auto;;
        width: 90%;
        font-size: 24px;
        margin: 0;
    }

    .line {
        opacity: 0;
    }

    .sire {
        aspect-ratio: 1/1;
        width: 90%;
        height: auto;
    }

    p {
        text-align: justify;
    }

    .content p {
        text-align: center;
    }

    .row {
        margin: auto;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer .col {
        align-items: unset;
    }

    #gmap_canvas {
        
        height: 280px!important;
        width: 280px!important;
    }

    .registration-img img {
        width: 100%;
        height: auto;
    }

}
